{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				color: #000;
				font-family:Monospace;
				font-size:13px;
				text-align:center;
				font-weight: bold;

				background-color: #fff;
				margin: 0px;
				overflow: hidden;
			}

			#info {
				color:#000;
				position: absolute;
				top: 0px; width: 100%;
				padding: 5px;
				box-sizing: border-box;
			}

			a {
				color: red;
			}
		</style>

	</head>

	<body>
		<div id="info">
		</div>

		<script src="{% static 'slider/js/three.js/build/three.js' %}"></script>
		<script src="{% static 'slider/js/three.js/modules/OrbitControls.js' %}"></script>
		<script src="{% static 'slider/js/three.js/modules/WebGL.js' %}"></script>

		<!--loading parallax images-->
		<script>
			var birds_01 = "{% static 'slider/ele/01_birds.png' %}"
			var sea_02 = "{% static 'slider/ele/02_sea.png' %}"
			var boat_03 = "{% static 'slider/ele/03_boat.png' %}"
			var city_main_04 = "{% static 'slider/ele/04_city_main.png' %}"
			var city_05 = "{% static 'slider/ele/05_city.png' %}"
			var city_06 = "{% static 'slider/ele/06_city.png' %}"
			var city_07 = "{% static 'slider/ele/07_city.png' %}"
			var clouds_08 = "{% static 'slider/ele/08_clouds.png' %}"
		</script>

		<script>

			if ( WEBGL.isWebGLAvailable() === false ) {
				document.body.appendChild( WEBGL.getWebGLErrorMessage() );
			};

			var camera, controls, scene, renderer;

			var mouse = new THREE.Vector2(), INTERSECTED;
			var meshView, meshCamera;

			init();
			//render(); // remove when using next line for animation loop (requestAnimationFrame)
			animate();

			function init() {

				scene = new THREE.Scene();
				scene.background = new THREE.Color( 0xffffff );
				// scene.fog = new THREE.FogExp2( 0xcccccc, 0.002 );

				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );
				document.body.appendChild( renderer.domElement );

				camera = new THREE.PerspectiveCamera( 60, window.innerWidth / window.innerHeight, 1, 1000 );

				// meshView
				meshView = false;

				// controls
				controls = new THREE.OrbitControls( camera, renderer.domElement );

				//controls.addEventListener( 'change', render ); // call this only in static scenes (i.e., if there is no animation loop)
				controls.enableDamping = true; // an animation loop is required when either damping or auto-rotation are enabled
				controls.dampingFactor = 0.25;

				controls.screenSpacePanning = true;

				controls.minDistance = 0;
				controls.maxDistance = 500;

				controls.maxPolarAngle = Math.PI / 2;

				// init positioning
				controls.object.position.y = 0;
				controls.object.position.z = 100;

				// disabling controls
				controls.enableRotate = false;
				controls.enableZoom = false;
				controls.enableKeys = false;

				// world
				
				// 01
				var plane_01_geo = new THREE.PlaneGeometry( 300, 150);
				var plane_01_tex = new THREE.TextureLoader().load( birds_01 );
				var plane_01_mat = new THREE.MeshLambertMaterial( { map: plane_01_tex, transparent: true});

				var plane_01 = new THREE.Mesh( plane_01_geo, plane_01_mat );
				scene.add( plane_01 );
				plane_01.position.z = 0

				// 02
				var plane_02_geo = new THREE.PlaneGeometry( 300, 150);
				var plane_02_tex = new THREE.TextureLoader().load( sea_02 );
				var plane_02_mat = new THREE.MeshLambertMaterial( { map: plane_02_tex, transparent: true});

				var plane_02 = new THREE.Mesh( plane_02_geo, plane_02_mat );
				scene.add( plane_02 );
				plane_02.position.z = 0

				// 03
				var plane_03_geo = new THREE.PlaneGeometry( 300, 150);
				var plane_03_tex = new THREE.TextureLoader().load( boat_03 );
				var plane_03_mat = new THREE.MeshLambertMaterial( { map: plane_03_tex, transparent: true});

				var plane_03 = new THREE.Mesh( plane_03_geo, plane_03_mat );
				scene.add( plane_03 );
				plane_03.position.z = 0

				// 04
				var plane_04_geo = new THREE.PlaneGeometry( 300, 150);
				var plane_04_tex = new THREE.TextureLoader().load( city_main_04 );
				var plane_04_mat = new THREE.MeshLambertMaterial( { map: plane_04_tex, transparent: true});

				var plane_04 = new THREE.Mesh( plane_04_geo, plane_04_mat );
				scene.add( plane_04 );
				plane_04.position.z = -20

				// 05
				var plane_05_geo = new THREE.PlaneGeometry( 300, 150);
				var plane_05_tex = new THREE.TextureLoader().load( city_05 );
				var plane_05_mat = new THREE.MeshLambertMaterial( { map: plane_05_tex, transparent: true});

				var plane_05 = new THREE.Mesh( plane_05_geo, plane_05_mat );
				scene.add( plane_05 );
				plane_05.position.z = -40

				// 06
				var plane_06_geo = new THREE.PlaneGeometry( 300, 150);
				var plane_06_tex = new THREE.TextureLoader().load( city_06 );
				var plane_06_mat = new THREE.MeshLambertMaterial( { map: plane_06_tex, transparent: true});

				var plane_06 = new THREE.Mesh( plane_06_geo, plane_06_mat );
				scene.add( plane_06 );
				plane_06.position.z = -60

				// 07
				var plane_07_geo = new THREE.PlaneGeometry( 300, 150);
				var plane_07_tex = new THREE.TextureLoader().load( city_07 );
				var plane_07_mat = new THREE.MeshLambertMaterial( { map: plane_07_tex, transparent: true});

				var plane_07 = new THREE.Mesh( plane_07_geo, plane_07_mat );
				scene.add( plane_07 );
				plane_07.position.z = -80

				// 08
				var plane_08_geo = new THREE.PlaneGeometry( 300, 150);
				var plane_08_tex = new THREE.TextureLoader().load( clouds_08 );
				var plane_08_mat = new THREE.MeshLambertMaterial( { map: plane_08_tex, transparent: true});

				var plane_08 = new THREE.Mesh( plane_08_geo, plane_08_mat );
				scene.add( plane_08 );
				plane_08.position.z = -200

				//create a group and add the two cubes
				//These cubes can now be rotated / scaled etc as a group
				var group = new THREE.Group();
				group.add( plane_01 );
				group.add( plane_02 );
				group.add( plane_03 );
				group.add( plane_04 );
				group.add( plane_05 );
				group.add( plane_06 );
				group.add( plane_07 );
				group.add( plane_08 );

				scene.add( group );

				group.position.y = 40;
				group.position.z = 40;

				// lights
				var light = new THREE.DirectionalLight( 0xffffff );
				light.position.set( 1, 1, 1 );
				scene.add( light );

				var light = new THREE.AmbientLight( 0x222222 );
				scene.add( light );

				//
				raycaster = new THREE.Raycaster();

				document.addEventListener( 'mousemove', onDocumentMouseMove, false );
				document.addEventListener( 'mouseup', onDocumentMouseUp, false );

				//
				window.addEventListener( 'resize', onWindowResize, false );

			}

			function onWindowResize() {
				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

			}

			function onDocumentMouseMove( event ) {
				event.preventDefault();
				mouse.x = ( event.clientX / window.innerWidth ) * 2 - 1;
				mouse.y = - ( event.clientY / window.innerHeight ) * 2 + 1;
			}

			function onDocumentMouseUp( event ) {
				event.preventDefault();
				if (meshView) {
					// revert to original camera
					controls.object.position.z += 40;
					meshView = false;
				} else {
					if (INTERSECTED) {
						flyToMesh(INTERSECTED);
						meshView = true;
					};

				};
				
			}

			function flyToMesh(mesh) {
				controls.object.position.z -= 40;
			};

			function animate() {
				requestAnimationFrame( animate );

				controls.update(); // only required if controls.enableDamping = true, or if controls.autoRotate = true

				if (controls.object.position.x > 110) {
					controls.object.position.x = 110;
					controls.target.x = 110;

				} else if (controls.object.position.x < -110) {
					controls.object.position.x = -110;
					controls.target.x = -110;
				};

				render();

			}

			function render() {
				// update the picking ray with the camera and mouse position
				raycaster.setFromCamera( mouse, controls.object );

				// calculate objects intersecting the picking ray
				var intersects = raycaster.intersectObjects( scene.children[0].children );

				if ( intersects.length > 0 ) {
					if ( INTERSECTED != intersects[ 0 ].object ) {
						if ( INTERSECTED ) INTERSECTED.material.emissive.setHex( INTERSECTED.currentHex );
						INTERSECTED = intersects[ 0 ].object;
						INTERSECTED.currentHex = INTERSECTED.material.emissive.getHex();
						INTERSECTED.material.emissive.setHex( 0xff0000 );
					}
				} else {
					if ( INTERSECTED ) INTERSECTED.material.emissive.setHex( INTERSECTED.currentHex );
					INTERSECTED = null;
				}

				renderer.render( scene, camera );

			}

		</script>

	</body>
</html>